 <!-- Shout System -->
    <div class="row">
        <div id="shoutWrapper">
            <div id="leftShout"><div class="icon-shout"></div></div>
            <div id="shoutContent" class="pull-left">
                <p class="noMargin">Jamie: Hi there! - Lotus: How are you doing? - Test: I'm amazing as always! - Someone: Great to hear man..</p>
            </div>
        </div>
    </div>