<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.2.1" targetFramework="net451" />
  <package id="Captcha" version="3.0.16.0" targetFramework="net451" />
  <package id="Glimpse.AspNet" version="1.9.1" targetFramework="net451" />
  <package id="Glimpse.Mvc4" version="1.5.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20710.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="WebGrease" version="1.1.0" targetFramework="net451" />
</packages>