body {
    /*background-image: url('http://i50.tinypic.com/2w4eiau.png');*/
    background-image: url('http://i.imgur.com/6JVPBWy.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100%;
}

html {
    height: 100%;
}

p {
    margin: 0;
    padding: 0;
}

.control-label {
    color: #555555;
}

/* Wrapper */

#outsideContainer.col-md-12 {
    background-image: url("../Images/glassEffect.png");
    background-repeat: repeat;
    margin-top: 10%;
    padding: 15px;
    border-radius: 6px;
}

@media (max-width: 1500px ) {
    #outsideContainer.col-md-11 {
        margin-top: 0;
    }
}

#indexContent {
    background-color: #fff;
    border-radius: 6px;
    padding: 20px;
    overflow: hidden;
    opacity: 1;
}

    /* Top */
    #indexContent #topContainer .logo {
        background-image: url('../Images/logo.gif');
        width: 136px;
        height: 75px;
    }

    #indexContent #topContainer a {
        text-decoration: none;
    }

    #indexContent #topContainer .online {
        margin-top: 54px;
        bottom: 0px;
        background-image: url('../Images/Common/Icons/online.gif');
        width: 40px;
        height: 16px;
    }

    /* Middle */
    #indexContent #middleContainer {
        margin-top: 20px;
    }

        #indexContent #middleContainer .col-md-8 {
            height: 352px;
            overflow: hidden;
        }

            #indexContent #middleContainer .col-md-8 .welcome {
                background-image: url(http://roc-cf.googlecode.com/svn/trunk/roc/app/tpl/habbo/images/loginbackdrop-turkey.png);
                background-position: right top;
                height: 352px;
                max-height: 352px;
                border-radius: 6px;
            }

@media (max-width: 992px ) {
    #indexContent #middleContainer .col-md-4 .panel {
        margin-top: 15px;
    }
}

#indexContent #middleContainer #buttonContainer {
    border: 1px solid #000;
    background-color: #F09300;
    border-radius: 6px;
    color: #fff;
    text-shadow: 1px 1px #000;
}

    #indexContent #middleContainer #buttonContainer #innerButtonContainer {
        margin: 6px;
        text-align: center;
        font-weight: bold;
    }

        #indexContent #middleContainer #buttonContainer #innerButtonContainer #topButton {
            background-color: #F8AF3E;
            padding: 13px 0px;
            text-transform: uppercase;
            font-size: 19px;
        }

        #indexContent #middleContainer #buttonContainer #innerButtonContainer #bottomButton {
            padding: 13px 0px;
            font-size: 17px;
        }
